.navbar {
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  margin-right: 1rem;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav .nav-link {
  color: white;
  margin-right: 1rem;
}

.navbar-nav .nav-link:hover {
  color: #f8f9fa;
}

.dropdown-menu {
  background-color: #351f51;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-top: 0;
}

.dropdown-item {
  color: white;
  padding: 0.75rem 1.5rem;
}

.dropdown-item:hover {
  background-color: #4e3a6a;
  color: white;
}

.oheo-nav-button {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.oheo-trial-button {
  background-color: #351f51;
  border: 1px solid black;
}

.oheo-trial-button:hover {
  background-color: #4e3a6a;
}

.scrolled {
  background-color: #351f51 !important;
}

body.dropdown-open {
  overflow: hidden;
}

@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }

  .d-flex {
    flex-direction: column;
    align-items: center;
  }

  .oheo-nav-button {
    margin-bottom: 0.5rem;
  }
}

