/* General styles for all pricing boxes */
.pricing-box {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 800px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pricing-box:hover {
    background-color: #351F51; 
    color: white; 
}

.pricing-box:hover .text-muted {
    color: white !important; 
}




.standard-box {
.standard-box {
    color: black !important;
    background-color: white; 
}

.standard-box .text-muted {
    color: black !important;
}
}
.standard-box .btn-primary-custom {
    background-color: #9D6CD4;
    color: #fff;
}

.btn-primary-custom {
    background-color: #9D6CD4;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Button hover effect */
.btn-primary-custom:hover {
    background-color: #9D6CD4;
}

/* Styles for the highlighted tag (e.g., "Most Popular") */
.highlighted-tag {
    background-color: white;
    color: #4A2560;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 12px;
}

/* Styles for small text in the price section */
.price-small-text {
    font-size: 0.9rem;
}